@import '../variables/variables.scss';

@mixin buttonStyle {
  width: 200px;
  height: 40px;
  background-color: $redColor;
  color: $whiteColor;
  font-size: 25px;
}

.mainPage {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $redColor;

  h1 {
    color: $whiteColor;
  }
}

button {
  @include buttonStyle();
}
