@import '../variables/variables.scss';


.mainPage {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $redColor;

  h1 {
    color: $whiteColor;
  }
}

button {
  @include buttonStyle($redColor, 40px);
}
