@import '../variables/variables.scss';

.navbar {
  width: 100%;
  height: 80px;
  background: $blackColor;

  button {
    @include buttonStyle(purple, 20px);
  }
}

.navbar a {
  color: $whiteColor;
  font-size: 30px;
}

